.app-header {
  display: flex;
  flex-direction: row;
  padding: 15px 70px 15px 70px;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.app-header--phone {
  display: none;
}

.app-header--phone__links {
  display: none;
  margin-top: 15px;
}

.app-header--phone__link {
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.app-header--phone__link:not(:last-child) {
  padding-bottom: 15px;
}

.app-header--phone__icon {
  cursor: pointer;
}

.app-header__main {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.app-header__links {
  margin-left: 30px;
  display: flex;
  gap: 5px;
}

.app-name span {
  font-weight: bold;
}

.login-span,
.logout-span {
  font-weight: bold;
}

.login-span:hover,
.logout-span:hover {
  cursor: pointer;
}

@media screen and (max-width: 855px) {
  .app-header {
    display: none;
  }

  .app-header--phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 70px 15px 70px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    transition: display 1s ease-in;
  }
}
